.navbar {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

/* Ensure full height and prevent margin collapse */
body, html {
    height: 100%;
    margin: 0;
}

/* Adjustments for side nav and header alignment */
.navbar-collapse {
    flex-grow: 1; /* Allow the navbar to fill available space */
}

.container-fluid {
    padding-left: 0; /* Prevent container padding */
    padding-right: 0; /* Prevent container padding */
}
