<div class="login-container">
   
<div class="signup-card" >
    <h2>Reset Your Password:</h2>
    <form (ngSubmit)="onSignUp()">
      

      <div class="input-group">
        <input
          type="email"
          placeholder="Email"
          [(ngModel)]="signupEmail"
          name="signupEmail"
          required
          aria-label="Signup Email"
        />
        <p class="error-message" *ngIf="emailError">{{ emailError }}</p>
      </div>

      <div class="input-group">
        <input
          type="password"
          placeholder="Password"
          [(ngModel)]="signupPassword"
          name="signupPassword"
          required
          aria-label="Signup Password"
        />
      </div>

      <div class="input-group">
        <input
          type="password"
          placeholder="Confirm Password"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
          aria-label="Confirm Password"
        />
        <p class="error-message" *ngIf="passwordError">{{ passwordError }}</p>
      </div>
      <p class="error-message" *ngIf="fieldError">{{ fieldError }}</p>

      <div class="button-container">
        <button type="submit" class="svg-button">Submit</button>
      </div>
    </form>

    <button class="back-to-login-button" (click)="toggleSignUp()">Back to Login</button>
  </div>
  </div>
