.sidenav {
    padding-left: 0; /* Remove left padding if it exists */
    margin-left: 0;
    background: #efeeee;
    transition: all 0.5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 4.5rem;
    height: 100vh;
    box-shadow: inset -4px 0 1.25rem 0 #3c3c3c4c; 
    left: 0;
    
}

.sidenav-collapsed {
    width: 15.5625rem;
    
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 0.938rem;
    width: 100%;
}

.logo {
    background: #3c3c3c4c;
    color: #F2F3F4;
    text-align: center;
    width: 3rem;
    min-width: 3rem;
    border-radius: 0.313rem;
    padding: 0.313rem;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    border: none;
}

.logo-text {
    margin-left: 1rem;
    font-size: 18px;
    font-weight: 700; /* Adjust as needed */
    color: #190065;
    font-family: 'Roboto', sans-serif; /* Applying the Roboto font */
}


.sidenav-nav {
    list-style: none;
    padding: 0.838rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;
}

.sidenav-nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    text-decoration: none;
    border-radius: 0.625rem;
    transition: all 0.3s ease;
}

.sidenav-link-icon {
    font-size: 18px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
    color: #5d5d5e; /* Default icon color */
}

.sidenav-link-text {
    margin-left: 1rem;
    color: #5d5d5e; /* Default label color */
}

.sidenav-nav-link:hover {
    background-color: #604b8836;
  
}

// .sidenav-nav-link:hover .sidenav-link-icon {
//     color: #ff5e8e; /* Hover icon color */
// }
// .sublevel-link-text:hover {
//     background-color: #b7b1b1;
// }

.active .sidenav-link-icon,
.active .sidenav-link-text {
    color: #3d00f3; /* Active icon and text color   4218ff */
    
}

// .active {
//     background-color: #EFF3F6;
// }

.sublevel-nav {
    list-style: none;
    margin-left: 10px;
}

.sublevel-nav-item .sublevel-nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: #898989;
    text-decoration: none;
    border-radius: 0.625rem;
    transition: all 0.3s ease;
}

.sublevel-link-icon {
    font-size: 14px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
    color: #ddcfcf;
}

.sublevel-link-text {
    margin-left: 0.8rem;
    color: #ddcfcf;
}



/* Scrollbar styling */
.scrollwrap {
    overflow-y: auto;
    visibility: hidden;
    height: calc(100% - 3.65rem);
}

.sidenav-nav,
.scrollwrap:hover,
.scrollwrap:focus {
    visibility: visible;
}

.scrollwrap_delayed {
    transition: visibility 0.5s 0.2s;
}

.scrollwrap_delayed:hover {
    transition: visibility 0.2s 0.2s;
}

.scrollwrap::-webkit-scrollbar {
    width: 10px;
}

.scrollwrap::-webkit-scrollbar-track {
    background: transparent;
}

.scrollwrap::-webkit-scrollbar-thumb {
    background-color: #556268;
    border-radius: 20px;
}

.scrollwrap {
    scrollbar-width: thin;
    scrollbar-color: #556268 transparent;
}
